<head>
    <title>FatWatch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/vis.min.css' />
    <script src="/libraries/jquery.min.js"></script>
    <script src="/libraries/vis.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>