<!DOCTYPE html>
<html>
<head>
    <title>Login to FatWatch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/vis.min.css' />
    <script src="/libraries/vis.min.js"></script>
</head>
<body>

    <h1><a href="/">FatWatch</a></h1>
    <p><%= group.groupid %></p>
    <p> Creater: <%= group.userid %> </p>
   
    <div>
    <a href="/register">Register</a>
    </div>

</body>
</html>
