<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
    <div id="fw-header">
        <h1>FatWatch</h1>
        
    </div>
    <div class="fw-main">
        <div class="fw-sidebar">
            <% for(var i=0; i<group.length; i++) {%>
                <p><%= group[i].username %></p>
            <% } %>
        </div>
        
        <div class="fw-content">
        
        </div>
    </div>

</body>
</html>
