<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
    <div id="fw-header">
        <h1>FatWatch</h1>
    </div>
    <div class="fw-main">

        <div class="fw-sidebar">
            <a href="/register">Register</a>
        </div>
        
        <div class="fw-content">
            <p>Login here</p>
            <div>
                <form method="POST" action="/users/login">
                    Username: <input type="text" name="username"></br>
                    Password: <input type="password" name="password"></br>
                    <input type="submit" value="Login">
                </form>
            </div>
        <div>
    </div>
</body>
</html>