<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
    <div id="fw-header">
        <h1><a class="fw-title" href="/">FriendScale</a></h1>
    </div>
    <div class="fw-main">

        <div class="fw-sidebar">
            <p>No account? <a href="/register">Register</a> </p>
        </div>
        
        <div class="fw-content">
            <p class="fw-title-2">Login here</p>
            <div>
                <form class="fw-form" method="POST" action="/users/login">
                    <div class="fw-input-group">
                        <p>Username: </p><input class="fw-input" type="text" name="username"></br>
                    </div>
                    <div class="fw-input-group">
                    <p>Password: </p><input class="fw-input" type="password" name="password"></br>
                    </div>
                    
                    <button class="fw-btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <div class="fw-footer">
        Copyright© 2018 FriendScale All Rights Reserved.
    </div>
</body>
</html>