<!DOCTYPE html>
<html>
<head>
    <title>Register to FatWatch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/vis.min.css' />
    <script src="/libraries/vis.min.js"></script>
</head>
<body>

<h1>FatWatch</h1>
<p>Register here</p>
<div>
    <form method="POST" action="/createuser">
        Username: <input type="text" name="username"></br>
        Password: <input type="password" name="password"></br>
        <input type="submit" value="Create">
    </form>
</div>

</body>
</html>