body{
  margin:0;
  padding:0;
}

#fw-header{
  background: #42eef4;
  width: 100%;
  overflow: auto;
  color: #FFF;
  padding: 50px;
}

.fw-main {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  padding: 50px;
  .fw-sidebar{
    overflow:auto;
    float: left;
    width: 20%;
  }
  .fw-content{
    overflow:auto;
    float: left;
    width: 80%;
    #entry-graph{
      width: 800px;
    }
  }
}
