body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

#fw-header{
  background: #42eef4;
  width: 100%;
  overflow: auto;
  color: #FFF;
  padding: 50px 100px;
  box-sizing: border-box;
  h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 5px;
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
      }
    }
  }
}

.fw-main {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  padding: 50px 100px;
  box-sizing: border-box;
  .fw-sidebar{
    overflow:auto;
    float: left;
    width: 30%;
    box-sizing: border-box;
    #EntryList{
      ul{
        list-style: none;
        padding: 0;
      }
    }
  }
  .fw-content{
    overflow:auto;
    float: left;
    width: 70%;
    padding: 0 50px;
    box-sizing: border-box;
    #entry-graph{
      width: 90%;
    }
    .fw-title-2{
      font-size: 30px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

.fw-form{
  .fw-input-group{
    display: flex;
    p{
      float:left;
      width: 80px;
      margin:0;
      padding: 12px 0px;
    }
    input{
      float:left;
    }
  }
  
}
.fw-btn{
  padding: 10px;
  color: white;
  background: green;
  border: none;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

.fw-input{
  margin: 5px 10px;
  height: 20px;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid gray;
  padding: 5px;
}

.fw-footer{
  padding: 50px 100px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.group-list, .group-new{
  margin-top: 40px;
  p{
    font-size: 16px;
    font-weight: 600;
  }
}
